<div class="container">
	<h1>Meet the Fellows</h1>
<h3><i>{{title}}</i></h3>
<span class="pull-right">
	<!-- Method 2  -->
	<!-- <button class="btn btn-success btn-md" (click)="addFellow1 = 'acc'" *ngIf="addFellow1 ==='abb'" >Add A new fellow</button> -->
	<!-- <button class="btn btn-success btn-md" (click)="addFellow1 = 'abb'" *ngIf="addFellow1 !== 'abb'" >Hide</button> -->
	
	<button class="btn btn-success btn-md" (click)="addFellow = true" *ngIf="!addFellow" >Add A new fellow</button>
	<button class="btn btn-success btn-md" (click)="addFellow = false" *ngIf="addFellow" >Hide</button>
</span>
<div class="container col-md-8" [hidden]="!addFellow">
	<form>
		<div class="form-group">
			<label>S/N</label>
			<input type="number" name="id" class="form-control"  [(ngModel)]="felo.id" >
		</div>
		<div class="form-group">
			<label>Name of Fellow</label>
			<input type="text" name="name" class="form-control"  [(ngModel)]="felo.name" >
		</div>
		<div class="form-group">
			<label>Strength</label>
			<input type="text" name="strength" class="form-control"  [(ngModel)]="felo.strength" >
		</div>
		<div class="form-group">
			<button class="btn btn-primary btn-lg" type="button" (click)=addNewFellow(felo)> Add</button>
		</div>
	</form>
</div>
<table class="table">
	<thead>
		<tr>
			<th>S/N</th>
			<th>NAME</th>
			<th>STRENGTH</th>
			<th>ACTIONS</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let fellow of fellows">
			<td>{{fellow.id}}</td>
			<td>{{fellow.name}}</td>
			<td>{{fellow.strength}}</td>
			<td>
				<button class="btn btn-sm btn-info" (click)="editFellow(fellow)"> Edit </button>
				<button class="btn btn-sm btn-danger" 
				(click)="deleteSelected(fellow)"> Delete </button>
			</td>
		</tr>
	</tbody>
</table>

<div class="container col-md-8" *ngIf="editable" >
	<form>
		<div class="form-group">
			<label>S/N</label>
			<input type="number" name="id" class="form-control" [(ngModel)]="fellows[numOfFellow].id" >
		</div>
		<div class="form-group">
			<label>Name of Fellow</label>
			<input type="text" name="name" class="form-control" [(ngModel)]="fellows[numOfFellow].name" >
		</div>
		<div class="form-group">
			<label>Strength</label>
			<input type="text" name="strength" class="form-control" [(ngModel)]="fellows[numOfFellow].strength">
		</div>
		<div class="form-group">
			<button class="btn btn-primary btn-lg" type="button" (click)="editable = false"> Add</button>
		</div>
	</form>
</div>

</div>